{% extends 'main.html' %}


{% block content %}


{% if page == 'login' %}
<div>
    <h1>Login Page</h1>
    <form method="POST" acton="">
            {% csrf_token %}
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" name="username" class="form-control">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Haven't signed Up yet?</p><a href="{% url 'register' %}" >Register</a>
</div>
{% else %}
<div>
    <h1>Register Page</h1>
    <form method="POST" acton="">
            {% csrf_token %}
                {{form}}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already Registered?</p><a href="{% url 'login' %}" >Login</a>
</div>
{% endif %}
{% endblock %}
 